<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<script src="https://use.fontawesome.com/0251ed3efb.js"></script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:vicbab@yandex.com">email</a></li>
	        		<li><a href="https://github.com/vicbab">github.com/vicbab</a></li>
				</ul>
			</footer>
		</body>
	</html>
